*{
  background-color: #3c4043;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}


.flex{
  display: flex;
  justify-content: space-around;
}


.card{
  background-color: #ffffff;
  height: 50vh;
  width: 30vh;
}

ul li{
  background-color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
h1{
  color: white;
}